/**** BASE STYles *****/

@font-face {
  font-family: "arial";
}

body {
  font-family: 'Comic Sans', serif;
  color: #ffffff;
  background-color: #000000;
  margin-left: 20px;
}

/***** Grid *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}
.half-width {
  width: 600px;
  float: left;
}
.third-width {
  width: 400px;
  float: left;
}
.image-border{
  border-color: white;
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
}
.icon-border {
  border-color: white;
  border-width: 5px;
  border-radius: 50%;
  border-style: solid;
}

#portfolio {
  height: 1250px;
}
#projects {
  height: 300px;
}
#about {
  height: 550px;
}
#contact {
  height: 300px;
}
/***** HEADER CSS*****/

.main-image h2 {
  font-family: monospace;
  font-size: 45px;
  width: 400px;
  text-align: left;
  line-height: 50px;
  padding-top: 250px;
}
.main-image span {
  color: #f95e01;
}
header {
  height: 600px;
  background: url('../img/apple.png');
  background-size: cover;

}

header h1 {
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  z-index: 2;
}
header h1 span {
  font-family: 'Fredoka+One', cursive;
  color: #cc99ff;
  font-size: 40px;
  background-color: #fff;
}

nav {
  float: right;
  padding: 5px 45px 5px 0px;
  position: fixed;
  right: 20px;
  top: 65px;
  background-color: #ffffff;
  opacity: .9;

}

nav ul li {
  display: inline-block;
  margin-right: 50px;
}

nav ul li a {
  color: #000000;
  font size: 30px;
  text-transform: lowercase;
  padding-left: 50px;
  text-decoration: none;
  font-weight: 900;
  font-family: 'arial';

}

/***** MAIN CSS *****/

#portfolio .full-width h3 {
  font-family: 'Montserrat', seriff;
  font-size: 30px;
  text-align: center;
  color: #5abef7;
  text-decoration: none;
}
#portfolio .half-width h4{
  font-family: 'Montserrat', seriff;
  font-size: 25px;
  text-align: center;
  color: #ffffff;

}
#portfolio .half-width h5 {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
#portfolio .half-width p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}


#portfolio a:hover {
  opacity: 0.5;
  color: white;
}
.full-width#project-one, .full-width#project-two, .full-width#project-three {
  height: 315px;
  padding: 35px 0;
  position: relative;
  right: 10px;
}

#projects .full-width h3 {
  font-family: 'Montserrat', seriff;
  font-size: 30px;
  text-align: center;
  color: #5abef7;
  text-decoration: none;

}
#projects a:hover {
  opacity: 0.5;
  color: white;
}
#projects .third-width {
position: relative;
left: 50px;

}

#about {
  background: url('../img/about-me.png');
  background-size: cover;

}
#about h3 {
color: #9966ff;
text-align: center;
font-size: 30px;
font-family: 'Montserrat', seriff;
}
#about .half-width {
  font-size: 20px;
  padding-left: 15px;
}

/***** FOOTER CSS *****/
#contact .full-width h3 {
  font-family: 'Montserrat', seriff;
  font-size: 30px;
  text-align: center;
  color: #ff66cc;
  text-decoration: none;
}
 /*
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;

}
*/
#contact {
  text-align: center;
  float: left;
}

#contact h5 {
  font-family: 'Montserrat', serrif;
  font-size: 25px;

}
#contact ul{
  display: inline;
}
#contact ul li {
  display: inline-block;
}
#contact p {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}
#envelope a:hover {
  opacity: .5;
  color: black;
}
#contact .media a:hover {
opacity: .5;
color: white;
}
#contact .address {

}
